#container {
    border: 2px solid purple;
    display: flex;
    width: 600px;
    height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result {
    width: 600px;
    text-align: center;
    margin: 20px 0;
}

#score {
    width: 600px;
    text-align: center;
}